<!DOCTYPE html>

<div class = "about">
	<div class = "background" id = "aboutbg"></div>
		<p id = "abouttext">ABOUT</p>
		<p id = "abouthead">RED LIGHT</p>
		<p id = "info">
			Red Light serves international classics with the touch of Filipino flavors
			for a unique and entertaining experience.
			Our mainstay ingredients continue to promise a fresh and
			healthy meal as they are sourced directly from local farms. 
			Red Light could be found at 4th Floor Main Mall, SM Central
			Business Park, Seaside Blvd, 123, Pasay, 1300 Metro Manila.
		</p> 
</div>

<div class = "upper">
	<div class = "background" id = "upperbg"></div>
		<p id = "header">RED LIGHT</p>
		<p id = "subtext">OFFERS A UNIQUE DINING EXPERIENCE CATERED TO THOSE LOOKING FOR A SERENE YET FERVENT ATMOSPHERE.</p> 
</div>

<div class = "menu">
	<img src = "css/assets/menulabel.png" alt = "menu" class = "cntr_img">
	<nav class = "categories">
		<ul>
			<li><a><div class = "center">APPETIZER</div></a></li>

			<li><a><div class = "center">MAIN COURSE</div></a></li>

			<li><a><div class = "center">DESSERT</div></a></li>

			<li><a><div class = "center">SIDES</div></a></li>
		</ul>
	</nav>
	<div class = "fooditem" id = "appetizer">
			
			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/chips.jpg"></img>

			<div class = "foodbody">
				<p id = "name">CHIPS & SALSA</p>
				<p id = "price">₱250</p>
				<p id = "desc">Crispy chips with salsa made fresh with real tomatoes. Good for 2-4 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "appetizer">

			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/wings.jpg"></img>

			<div class = "foodbody">
				<p id = "name">WINGS</p>
				<p id = "price">₱300</p>
				<p id = "desc">A plate of chicken wings coated in the sauce of your choice (Honey Garlic, BBQ, Sweet Chili). Good for 3-5 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "appetizer">

			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/nachos.jpg"></img>

			<div class = "foodbody">
				<p id = "name">NACHOS W/ CHEESE</p>
				<p id = "price">₱250</p>
				<p id = "desc">Nacho chips partnered with creamy cheese. Good for 2-4 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "appetizer">

			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/fries.jpg"></img>

			<div class = "foodbody">
				<p id = "name">FRIES</p>
				<p id = "price">₱200</p>
				<p id = "desc">A plate of fries served with the choice of dip (Cheese, BBQ, Spicy Mustard). Good for 1-3 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "appetizer">

			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/salad.jpg"></img>

			<div class = "foodbody">
				<p id = "name">CAESAR SALAD</p>
				<p id = "price">₱210</p>
				<p id = "desc">A green salad dressed in lemon juice, olive oil, egg, parmesan cheese, anchovies, garlic, Worcestershire sauce, and mustard. Good for 1-3 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/quesadilla.jpg"></img>

			<div class = "foodbody">
				<p id = "name">QUESADILLA</p>
				<p id = "price">₱395</p>
				<p id = "desc">A tortilla filled with cheese and chicken cooked with spices.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/mignon.jpg"></img>

			<div class = "foodbody">
				<p id = "name">FILET MIGNON</p>
				<p id = "price">₱400</p>
				<p id = "desc">A juicy steak cut cooked to preference and served with a choice of sides.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/fajita.jpg"></img>

			<div class = "foodbody">
				<p id = "name">FAJITAS</p>
				<p id = "price">₱420</p>
				<p id = "desc">Grilled steak served with tortilla, salsa, sour cream, and bell peppers.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/ribeye.jpg"></img>

			<div class = "foodbody">
				<p id = "name">RIBEYE STEAK</p>
				<p id = "price">₱550</p>
				<p id = "desc">A juicy steak cut cooked to preference and served with a choice of sides.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/roast.jpg"></img>

			<div class = "foodbody">
				<p id = "name">ROAST CHICKEN</p>
				<p id = "price">₱500</p>
				<p id = "desc">Half roasted chicken cooked with rosemary and spices.</p>
			</div>

		</div>

		<div class = "fooditem" id = "dessert">

			<div class = "foodhead">
				<p id = "type">DESSERT</p>
			</div>

			<img class = "foodimg" src = "css/assets/chococake.jpg"></img>

			<div class = "foodbody">
				<p id = "name">SLICE OF CHOCOLATE CAKE</p>
				<p id = "price">₱230</p>
				<p id = "desc">A single slice of rich chocolate cake.</p>
			</div>

		</div>

		<div class = "fooditem" id = "dessert">

			<div class = "foodhead">
				<p id = "type">DESSERT</p>
			</div>

			<img class = "foodimg" src = "css/assets/cheesecake.jpg"></img>

			<div class = "foodbody">
				<p id = "name">SLICE OF CHEESECAKE</p>
				<p id = "price">₱250</p>
				<p id = "desc">A single slice of cheesecake with berry syrup.</p>
			</div>

		</div>

		<div class = "fooditem" id = "dessert">

			<div class = "foodhead">
				<p id = "type">DESSERT</p>
			</div>

			<img class = "foodimg" src = "css/assets/icecream.jpg"></img>

			<div class = "foodbody">
				<p id = "name">ICE CREAM</p>
				<p id = "price">₱150</p>
				<p id = "desc">A single scoop of an ice cream flavor of your choice (Chocolate, Vanilla, Strawberry).</p>
			</div>

		</div>

		<div class = "fooditem" id = "dessert">

			<div class = "foodhead">
				<p id = "type">DESSERT</p>
			</div>

			<img class = "foodimg" src = "css/assets/chocochip.jpg"></img>

			<div class = "foodbody">
				<p id = "name">CHOCOLATE CHIP A LA MODE</p>
				<p id = "price">₱320</p>
				<p id = "desc">Vanilla ice cream placed on top of a freshly baked cookie on a skillet.</p>
			</div>

		</div>

		<div class = "fooditem" id = "sides">

			<div class = "foodhead">
				<p id = "type">SIDES</p>
			</div>

			<img class = "foodimg" src = "css/assets/rice.jpg"></img>

			<div class = "foodbody">
				<p id = "name">RICE</p>
				<p id = "price">₱75</p>
			</div>

		</div>

		<div class = "fooditem" id = "sides">

			<div class = "foodhead">
				<p id = "type">SIDES</p>
			</div>

			<img class = "foodimg" src = "css/assets/bakedpotato.jpg"></img>

			<div class = "foodbody">
				<p id = "name">BAKED POTATO</p>
				<p id = "price">₱75</p>
			</div>

		</div>

		<div class = "fooditem" id = "sides">

			<div class = "foodhead">
				<p id = "type">SIDES</p>
			</div>

			<img class = "foodimg" src = "css/assets/mashedpotato.jpg"></img>

			<div class = "foodbody">
				<p id = "name">MASHED POTATO</p>
				<p id = "price">₱100</p>
			</div>

		</div>

		<div class = "fooditem" id = "sides">

			<div class = "foodhead">
				<p id = "type">SIDES</p>
			</div>

			<img class = "foodimg" src = "css/assets/vegetable.jpg"></img>

			<div class = "foodbody">
				<p id = "name">STEAMED VEGETABLES</p>
				<p id = "price">₱55</p>
			</div>

		</div>
	</div>
</div>

<div class = "chefs">
	<img src = "css/assets/cheflabel.png" alt = "chef" class = "cntr_img">

	<!--Each of these individual containers have all info regarding chefs.-->
	<div class = "chefbox" id = "gordon">
		<div class = "chefbg" id = "bg1"></div>
		<div class = "chefimg" id = "chef1"></div>
		<div class = "chefrole" id = "role1">EXECUTIVE CHEF</div>
		<div class = "chefname" id = "name1">GORDON SHEPARD</div>>
		<div class = "bio" id = "bio1">Awarded as Philippine’s best upcoming chef 
			last 2018, Chef Gordon’s unique take on food helped
			paved his way into redefining the essence of Red light
			earning his title of Executive Chef.</div>
	</div>

	<div class = "chefbox" id = "roger">
		<div class = "chefbg" id = "bg2"></div>
		<div class = "chefimg" id = "chef2"></div>
		<div class = "chefrole" id = "role2">EXECUTIVE SOUS CHEF</div>
		<div class = "chefname" id = "name2">ROGER LIBRADA</div>>
		<div class = "bio" id = "bio2">
			Chef Roger grew up in a culinary household wherein he 
			slowly developed his passion for artesian cuisine. 
			With nearly 25 years of culinary experience, his local and 
			international presence in the food industry is what landed 
			him the title of Executive Sous Chef here in Red light.
		</div>
	</div>

	<div class = "chefbox" id = "caesar">
		<div class = "chefbg" id = "bg3"></div>
		<div class = "chefimg" id = "chef3"></div>
		<div class = "chefrole" id = "role3">SENIOR SOUS CHEF</div>
		<div class = "chefname" id = "name3">CAESAR MONTEBLANC</div>>
		<div class = "bio" id = "bio3">
			Chef Caesar started his culinary training in Portugal and 
			traveled all over the world in search of the cooking style 
			unique only to him. It is at Red Light wherein he found his 
			true calling and is now working as a Senior Sous Chef.
		</div>
	</div>

</div>
