<!DOCTYPE html>

<div class = "menu">
	<img src = "css/assets/menulabel.png" alt = "menu" class = "cntr_img">
	<nav class = "categories">
		<ul>
			<li><a><div class = "center">APPETIZER</div></a></li>

			<li><a><div class = "center">MAIN COURSE</div></a></li>

			<li><a><div class = "center">DESSERT</div></a></li>

			<li><a><div class = "center">SIDES</div></a></li>
		</ul>
	</nav>
	<div class = "fooditem" id = "appetizer">
			
			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/chips.jpg"></img>

			<div class = "foodbody">
				<p id = "name">CHIPS & SALSA</p>
				<p id = "price">₱250</p>
				<p id = "desc">Crispy chips with salsa made fresh with real tomatoes. Good for 2-4 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "appetizer">

			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/wings.jpg"></img>

			<div class = "foodbody">
				<p id = "name">WINGS</p>
				<p id = "price">₱300</p>
				<p id = "desc">A plate of chicken wings coated in the sauce of your choice (Honey Garlic, BBQ, Sweet Chili). Good for 3-5 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "appetizer">

			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/nachos.jpg"></img>

			<div class = "foodbody">
				<p id = "name">NACHOS W/ CHEESE</p>
				<p id = "price">₱250</p>
				<p id = "desc">Nacho chips partnered with creamy cheese. Good for 2-4 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "appetizer">

			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/fries.jpg"></img>

			<div class = "foodbody">
				<p id = "name">FRIES</p>
				<p id = "price">₱200</p>
				<p id = "desc">A plate of fries served with the choice of dip (Cheese, BBQ, Spicy Mustard). Good for 1-3 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "appetizer">

			<div class = "foodhead">
				<p id = "type">APPETIZER</p>
			</div>

			<img class = "foodimg" src = "css/assets/salad.jpg"></img>

			<div class = "foodbody">
				<p id = "name">CAESAR SALAD</p>
				<p id = "price">₱210</p>
				<p id = "desc">A green salad dressed in lemon juice, olive oil, egg, parmesan cheese, anchovies, garlic, Worcestershire sauce, and mustard. Good for 1-3 people.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/quesadilla.jpg"></img>

			<div class = "foodbody">
				<p id = "name">QUESADILLA</p>
				<p id = "price">₱395</p>
				<p id = "desc">A tortilla filled with cheese and chicken cooked with spices.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/mignon.jpg"></img>

			<div class = "foodbody">
				<p id = "name">FILET MIGNON</p>
				<p id = "price">₱400</p>
				<p id = "desc">A juicy steak cut cooked to preference and served with a choice of sides.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/fajita.jpg"></img>

			<div class = "foodbody">
				<p id = "name">FAJITAS</p>
				<p id = "price">₱420</p>
				<p id = "desc">Grilled steak served with tortilla, salsa, sour cream, and bell peppers.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/ribeye.jpg"></img>

			<div class = "foodbody">
				<p id = "name">RIBEYE STEAK</p>
				<p id = "price">₱550</p>
				<p id = "desc">A juicy steak cut cooked to preference and served with a choice of sides.</p>
			</div>

		</div>

		<div class = "fooditem" id = "main">

			<div class = "foodhead">
				<p id = "type">MAIN COURSE</p>
			</div>

			<img class = "foodimg" src = "css/assets/roast.jpg"></img>

			<div class = "foodbody">
				<p id = "name">ROAST CHICKEN</p>
				<p id = "price">₱500</p>
				<p id = "desc">Half roasted chicken cooked with rosemary and spices.</p>
			</div>

		</div>

		<div class = "fooditem" id = "dessert">

			<div class = "foodhead">
				<p id = "type">DESSERT</p>
			</div>

			<img class = "foodimg" src = "css/assets/chococake.jpg"></img>

			<div class = "foodbody">
				<p id = "name">SLICE OF CHOCOLATE CAKE</p>
				<p id = "price">₱230</p>
				<p id = "desc">A single slice of rich chocolate cake.</p>
			</div>

		</div>

		<div class = "fooditem" id = "dessert">

			<div class = "foodhead">
				<p id = "type">DESSERT</p>
			</div>

			<img class = "foodimg" src = "css/assets/cheesecake.jpg"></img>

			<div class = "foodbody">
				<p id = "name">SLICE OF CHEESECAKE</p>
				<p id = "price">₱250</p>
				<p id = "desc">A single slice of cheesecake with berry syrup.</p>
			</div>

		</div>

		<div class = "fooditem" id = "dessert">

			<div class = "foodhead">
				<p id = "type">DESSERT</p>
			</div>

			<img class = "foodimg" src = "css/assets/icecream.jpg"></img>

			<div class = "foodbody">
				<p id = "name">ICE CREAM</p>
				<p id = "price">₱150</p>
				<p id = "desc">A single scoop of an ice cream flavor of your choice (Chocolate, Vanilla, Strawberry).</p>
			</div>

		</div>

		<div class = "fooditem" id = "dessert">

			<div class = "foodhead">
				<p id = "type">DESSERT</p>
			</div>

			<img class = "foodimg" src = "css/assets/chocochip.jpg"></img>

			<div class = "foodbody">
				<p id = "name">CHOCOLATE CHIP A LA MODE</p>
				<p id = "price">₱320</p>
				<p id = "desc">Vanilla ice cream placed on top of a freshly baked cookie on a skillet.</p>
			</div>

		</div>

		<div class = "fooditem" id = "sides">

			<div class = "foodhead">
				<p id = "type">SIDES</p>
			</div>

			<img class = "foodimg" src = "css/assets/rice.jpg"></img>

			<div class = "foodbody">
				<p id = "name">RICE</p>
				<p id = "price">₱75</p>
			</div>

		</div>

		<div class = "fooditem" id = "sides">

			<div class = "foodhead">
				<p id = "type">SIDES</p>
			</div>

			<img class = "foodimg" src = "css/assets/bakedpotato.jpg"></img>

			<div class = "foodbody">
				<p id = "name">BAKED POTATO</p>
				<p id = "price">₱75</p>
			</div>

		</div>

		<div class = "fooditem" id = "sides">

			<div class = "foodhead">
				<p id = "type">SIDES</p>
			</div>

			<img class = "foodimg" src = "css/assets/mashedpotato.jpg"></img>

			<div class = "foodbody">
				<p id = "name">MASHED POTATO</p>
				<p id = "price">₱100</p>
			</div>

		</div>

		<div class = "fooditem" id = "sides">

			<div class = "foodhead">
				<p id = "type">SIDES</p>
			</div>

			<img class = "foodimg" src = "css/assets/vegetable.jpg"></img>

			<div class = "foodbody">
				<p id = "name">STEAMED VEGETABLES</p>
				<p id = "price">₱55</p>
			</div>

		</div>
	</div>
</div>